<div class="container" id="main-container">
    <div class="content contact-list">
        <div *ngIf="activitysList" class="card card-default">
            <div class="card-header align-items-center px-3 px-md-5">
                <h2> Liste des activites {{activitysList.length}}</h2>

                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addActivityModal">Ajouter une activite</button>
            </div>
            <div class="card-body px-3 px-md-5" >
                <div class="row">
                    <div *ngFor="let activity of activitysList" class="col-lg-6 col-xl-4 col-md-6 col-sm-12">
                        <div class="card card-default p-4">
                            <a href="javascript:0" class="media text-secondary" data-bs-oggle="modal" (click)="onOpenModal(activity, 'read')">
                                <div [ngSwitch]="activity?.type">
                                    <img *ngSwitchCase="reunion" src="/assets/img/activity/reunion.jpeg" class="mr-3 img-fluid rounded" alt="Avatar Image"/>
                                    <img *ngSwitchCase="sortie" src="/assets/img/activity/sortie.jpeg" class="mr-3 img-fluid rounded" alt="Avatar Image"/>
                                </div>
                                <div class="media-body">
                                    <h6 class="mt-0 mb-2 text-dark">{{activity.type | titlecase}} du {{activity.date}} à {{activity.lieu}}</h6>
                                </div>
                            </a>
                            <div class="card-body">
                                <div class="float-right btn-group btn-group-sm">
                                    <a (click)="onOpenModal(activity, 'edit')" class="btn btn-primary tooltips" data-bs-placement="top" title="Edit"><i class="fa fa-pencil"></i> </a>
                                    <a (click)="onOpenModal(activity, 'delete')" class="btn btn-secondary tooltips" data-bs-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                                <!-- modification ici-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Edit Modal -->
     <div class="modal fade" id="updateActivityModal" tabindex="-1" role="dialog" aria-labelledby="activityEditModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateActivityModalLabel">Modification de la {{editActivity?.type}} du {{editActivity?.date | date:'fullDate'}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div>
                            <label for="lieu">Type</label> 
                            <select ngModel="{{editActivity?.type}}" name="type" class="form-select" aria-label="Default select example">
                                <option>--Choisir--</option>
                                <option *ngFor="let tpa of activityTypes"
                                        [value]="tpa">
                                    {{TypeActivityMapping[tpa]}}
                                </option>
                            </select>
                        </div>
                        <input type="hidden" ngModel="{{editActivity?.id}}" name="id" class="form-control" id="id" placeholder="ID">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" ngModel="{{editActivity?.date}}" name="date" class="form-control" id="date" placeholder="Date">
                        </div>
                        <div class="form-group">
                            <label for="lieu">Lieu</label> 
                            <input type="text" ngModel="{{editActivity?.lieu}}" name="lieu" class="form-control" id="lieu" placeholder="Lieu">
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal"  class="btn btn-secondary">Fermer</button>
                            <button  (click)="onUpdateActivity(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Add activity Modal -->
    <div class="modal fade" id="addActivityModal" tabindex="-1" role="dialog" aria-labelledby="addActivityModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addActivityModalLabel">Ajout d'une activite</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddActivity(addForm)">
                        <input type="hidden" ngModel name="id" class="form-control" id="id" placeholder="Email">
                        <div class="form-group">
                            <label for="phone">Type d'activite</label>
                            <select ngModel name="type" class="form-select" aria-label="Default select example">
                                <option>--Choisir--</option>
                                <option *ngFor="let tpa of activityTypes"
                                        [value]="tpa">
                                    {{TypeActivityMapping[tpa]}}
                                </option>
                            </select>
                        </div>
                        <div>
                            <label for="date">Date</label>
                            <input type="date" ngModel name="date" class="form-control" id="date" placeholder="Date">
                        </div>
                        <div class="form-group">
                            <label for="phone">Lieu</label> 
                            <input type="text" ngModel name="lieu" class="form-control" id="lieu" placeholder="lieu">
                        </div>
                        
                        <!-- <div class="form-group">
                        <label for="phone">Image URL</label>
                        <input type="text" ngModel="{{editActivity?.date}}" name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL">
                        </div> -->
                        <div class="modal-footer">
                            <button type="button" id="add-activity-form" data-bs-dismiss="modal" class="btn btn-secondary">Fermer</button>
                            <button  [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- READ Modal -->
    <div class="modal fade" id="readActivityModal" tabindex="-1" aria-labelledby="readActivityModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="readActivityModalLabel">Affichage d'une activite</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="col-md-12">
                <div class="contact-info px-8">
                    <h4 class="mb-1">Details de l'activite du: {{readActivity?.date}}</h4>
                    <p class="text-dark font-weight-medium pt-4 mb-2">Type: {{readActivity?.type}} </p>
                    <p class="text-dark font-weight-medium pt-4 mb-2">Date: {{readActivity?.date}} </p>
                    <p class="text-dark font-weight-medium pt-4 mb-2">Lieu: {{readActivity?.lieu}} </p>  
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="deleteActivityModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModelLabel">Suppression de l'activity</h5>
                <button type="button" class="Fermer" data-bs-dismiss="modal" aria-label="Fermer">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer {{deleteActivity?.type}} du {{deleteActivity?.date}}?</p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button (click)="onDeleteActivity(deleteActivity.id)" class="btn btn-danger" data-bs-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    <!-- Notification for no activityes -->
    <div *ngIf="activitysList?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO Activity!</h4>
                <p>Aucun activity trouve.</p>
        
        </div>
    </div>
</div>